body {
	background-color: white;
	margin: 0px;
	font-family: "游ゴシック体", "Yu Gothic", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "sans-serif";
 }


/*----header----*/
.header{
	/*margin: 0px;*/
	font-family: "Menlo";
	background-color: #426AB3;
	color: white;
	width: 100%;
	/*height: 190px;*/
}
.pageTitle{
	font-size: 50px;
	padding: 40px 10% 0px 10%;
}
.subTitle{
	font-size: 20px;
	padding: 30px 10%;
}

/*----main----*/
.main{
	font-size: 16px;
	padding: 30px 10%;
}
.urlMain{
	color: #325086;
}
.gradBorder::after{
	content: "";
	display: block;
	height: 4px;
	background: linear-gradient(to right, #325086 50%, white);
}
h2{
	width: 75%;
	border-bottom: 1px solid black;
}

/*----footer----*/
.footer{
	font-size: 16px;
	background-color: #426AB3;
	color: white;
	width: 100%;
	height: 150px;
}
.urlFooter{
	color: #e1f0f3;
}
.contactList{
	float: right;
}
.contactList p{
	font-size: 18px;
	padding-top: 10px;
	padding-right: 40px;
	padding-bottom: 0px;
}
.contactList ul{
	padding-right: 40px;
	padding-top: 0px;
}

@media screen and (max-width:499px) {
	.pageTitle{
		font-size: 40px;
		padding: 30px 5% 0px 5%;
	}
	.subTitle{
		font-size: 19px;
		padding: 20px 5%;
	}
	
	.main{
		font-size: 13px;
		padding: 10px 5%;
	}
	
	.footer{
		height: 120px;
	}
	.contactList{
		font-size: 13px;
	}
	.contactList p{
		font-size: 15px;
	}
}

